@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
    font-family: Pretendard, -apple-systrem, BlinkMacSystremFont, systrem-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

html, body{
    width: 100%; 
    height: 100%;
}

#intro{
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    height: 100%; 
    z-index: -9999;
    background-image: url("./public/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#main1{
    margin-top: 100%;
    height: 100%; 
    z-index: 1;
    background-color: #010D26;
    color: white;
}

#main2{
    height: 100%; 
    z-index: 1;
    background-color: #8C7672;
    color: white;
}

#main3{
    height: 100%; 
    z-index: 1;
    background-color: #A68263;
    color: white;
}

#main4{
    height: 100%; 
    z-index: 1;
    background-color: #D9A86C;
    color: white;
}

#main5{
    z-index: 1;
    background-color: #639AA6;
    color: white;
}

.skills{
    margin-left: 0.5rem;
}

.skillstitle{
    float: left; 
    text-align: right; 
    width: 5rem; 
    height: 3rem;
}

.item-card{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    margin-bottom: 5rem;
}

.item-card_role{
    color: lightgray;
}

.item-card_logo{
    width: 10rem; 
    object-fit: contain; 
    margin: auto 2.5rem;
}